html, body {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

.high_scores {
    text-align: left;
    font-size: 24px;
}

.center {
    text-align: center;
    font-size: 36px;

}

.timer {
    text-align: right;
    font-size: 24px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

}